.s {
    font-size: 10px;
    opacity: 0.5;
    line-height: 12px;
}

.chart {
    position: relative;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.chart > img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}