body {
    background: #111;
    color: #fff;
    font-family: verdana;
    font-size: 12px;
}

.bsc {
    color: #73c2fb;
}

.adv {
    color: #eeee77;
}

.ext {
    color: #Fb607f;
}

.mas {
    color: #f55dff;
}